.company{
    background-color:mediumturquoise;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
}

.register{
     font-family: 'Times New Roman', Times, serif;
     font-size: 20px;
     text-align: left;
     font-weight: bold;
}

.align{
    text-align: center;
}

.red{
    color:red
}